* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: stretch;
    background-color: #5DA89F;

    
header {
  background-color: #45CCBD;
  color: white;
  text-align: center;
  padding: 20px;
}


main {
  display: grid;                  
  grid-template-columns: 1fr 2fr 1fr;  
  gap: 20px;                       
  padding: 20px;
}


section {
  background-color: #B8FFF5;
  padding: 15px;
  border-radius: 10px;
}


img {
  width: 80%;               
  max-width: 250px;         
  border: 5px solid #141E2B;   
  border-radius: 10px;      
  display: block;           
  margin: 10px auto;        
}

h2 {
  color: #141E2B;
  margin-bottom: 10px;
}

p {
  color: #141E2B;
  margin-bottom: 10px;
  line-height: 1.5;
}

ul {
  margin-left: 20px;
  color:#141E2B;
  line-height: 1.5;
}

footer {
  background-color: #45CCBD;
  color: white;
  text-align: center;
}